<section class="hero">
  <div class="wrapper text-center">
    <h1 rel="title">Hi there!</h1>

    <div class="buttons">
      {% for link in site.event.hero.links %}
        {% if link.href %}
          <a href="{{ link.href }}">{{ link.text }}</a>
        {% endif %}
      {% endfor %}
    </div>
<!-- Section 2 
    <div class="buttons">
      {% for link in site.event.hero.links2 %}
        {% if link.href %}
          <a href="{{ link.href }}">{{ link.text }}</a>
        {% endif %}
      {% endfor %}
    </div>
    -->
  </div>
</section>